.button-object {
    padding: 0em;
    color: rgb(4, 4, 67)
    
}
/* .buttonStyle{
    color: rgb(4, 4, 67)
} */
.btn {

    margin-left: 20px;
    
    height: 33px;
    
    width: 70px;
    
      color: #fff;
    
    background-color: #000;
    
      cursor: pointer;
    
    }
    
    
    
    .btn-sm {
    
      padding: 6px 10px;
    
      vertical-align: middle;
    
    }